*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  hsl(217, 28%, 15%);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-bar{
    color: #fff;
}
.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    z-index: 2;
}
#container ::before {
    content: '';
    background: url('./images/bg-curvy-desktop.svg') no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    padding-top: 300px;
}
.nav-bar img{
    width: 100px;
}
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    list-style: none;
    margin: 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
}
#hero{
    background:  hsl(217, 28%, 15%);
    height: 80vh;
}
#hero .container img{
    width: 350px;
}
#hero .container{
    padding:1rem 4rem;
    text-align: center;
    color: #fff;
}
#hero p{
    margin: 10px 0;
    line-height: 1.4;
}
.btn{
    display: inline-block;
    padding: 10px 25px;
    background: lightseagreen;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn a{
    color: #fff;
}
#showcase{
    color: #fff;
}
#showcase .showcase-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    text-align: center;
    line-height: 1.2;
    margin: 30px auto;
}
#showcase-down{
    color: #fff;
    line-height: 1.4;
}
#showcase-down .immg img{
    width: 450px;
}
#showcase-down .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
#showcase-down .text{
    padding-top: 100px;
}
#showcase-down .text a{
    color: #fff;
    text-decoration: underline;
}
#showcase-down .text h1{
    margin-bottom: 8px;
}
#showcase-down-1{
    color: #fff;
    padding-top: 70px;
    height: 350px;
}
#showcase-down-1 .container{
    display: flex;
}
#showcase-down-1 .down-img{
    display: block;
    margin-left: 150px;
    position: absolute;
}
#showcase-down-1 .box img{
    width: 40px;
    border-radius: 30px;
}
#showcase-down-1 .box{
    background: hsl(219, 30%, 18%);
    color: #fff;
    padding: 30px;
    margin: 0 20px;
}
#showcase-down-1 .box p{
    line-height: 1.3;
}
#showcase-down-1 .box  img{
    float: left;
    margin-top: 30px;
    margin-right: 20px;
}
#showcase-down-1 h4{
    margin-top: 30px;
}
#card{
    color: #fff;
}
#card .card{
    background: hsl(219, 30%, 18%);
    padding: 3rem;
    text-align: center;
    margin: 20px 120px;
    border-radius: 5px;
}
#card .card h1{
    margin-bottom: 10px;
}
#card .card p{
    line-height: 1.3;
    margin-bottom: 15px;
}
#card .card .inp-1{
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 10px;
    margin: 10px 5px;
}
#card .card .btn-1{
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 10px;
    color: #fff;
}
#main-footer{
    background:  hsl(216, 53%, 9%);
    color: #fff;
}
#main-footer .container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    line-height: 1.4;
}
#main-footer .container div{
    padding: 0 15px;
}
#main-footer .container div:first-child{
    display: flex;
}
#main-footer .logo{
    margin: 15px 150px;
}
#main-footer .container div i{
    margin: 0 6px;
}
#main-footer .container div:first-child i{
    margin-right: 10px;
}
#main-footer div li{
    display: flex;
    flex-direction: column;
    color: #fff;
}
#main-footer div a{
    line-height: 1.7;
    color: #fff;
}